<div class="col-md-6">
    <div class="card mb-3">
        <div class="card-header d-flex justify-content-between bg-white border-0">
            <div class="img small">SitaSita logo</div>
            <div class="img small">Jutro 20:45</div>
        </div>
        <div class="card-body border-0">
            <div class="row">
                <div class="col-4 d-flex flex-column align-items-center">
                    <img src="https://mediacontent.superpicks.com/images/germany.png" style="width: 50px">
                    <span class="mt-2">Niemcy</span>
                </div>
                <div class="col-4">
                    <input type="number" class="" value="0">
                </div>
                <div class="col-4 d-flex flex-column align-items-center">
                    <img src="https://mediacontent.superpicks.com/images/poland.png"  style="width: 50px">
                    <span class="mt-2">Polska</span>

                </div>
            </div>

        </div>
        <div class="card-footer bg-white">
            <div class="row">
                <div class="col-4">
                    <a class="btn d-flex flex-column" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                        <i class="fas fa-futbol text-info"></i>
                        <span>Czechy</span>
                    </a>
                </div>
                <div class="col-4">
                    <a class="btn d-flex flex-column"data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                        <i class="fas fa-chart-line text-warning"></i>
                        <span>Kursy</span>
                    </a>
                </div>
                <div class="col-4">
                    <a class="btn d-flex flex-column"data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                        <i class="fas fa-star text-danger"></i>
                        <span>Informacje</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="input-group">
        <input type="number" class="form-control" id="inputNumber" value="0">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="increaseButton">+</button>
            <button class="btn btn-outline-secondary" type="button" id="decreaseButton">-</button>
        </div>
    </div>
</div>
